<!-- Begin libs -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3/dist/jquery.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{%- if page.usemathjax -%}
    {%- if page.usemathjax.configs -%}
        {{page.usemathjax.configs}}
    {%- else -%}
        <script>
            MathJax = {
              tex: {
                inlineMath: [['$', '$']]
              }
            };
        </script>
    {%- endif -%}
    <script async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{%- endif -%}
<!-- End libs -->
{%- if site.favicon -%}<link rel="icon" href="{{ site.favicon | relative_url }}">{%- endif -%}
<script src="{% link /assets/js/main.js %}"></script>
{%- if page.robots -%}<meta name="robots" content="{{page.robots}}">{%- endif -%}
<script defer data-domain="{{site.plausible.domain}}" src="{{site.plausible.src}}"></script>