// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)
/**
 * Custom Styles
 */
// https://stackoverflow.com/a/70956495
@function css-function( $function, $values... ) {
    @return 
        $function
        + unquote( '(' )
        + $values
        + unquote( ')' )
    ;
}

@function css-max( $values... ) {
    @return css-function( max, $values );
}

html {
    scroll-behavior: smooth;
}
.back-to-top-link {
    $back-to-top-size: 3.1rem;
    z-index: 1100;
    position: fixed;
    bottom: 2rem;
    right: css-max(0.5rem, 50vw - #{$content-width / 2} - #{$back-to-top-size / 2});
    width: $back-to-top-size;
    height: $back-to-top-size;
    transition: ease-in-out 0.2s;
    border-radius: 50%;
    fill: $brand-color;
    opacity: 0.9;
    &:visited {
        fill: $brand-color;
    }
    &:hover, &:focus {
        fill: $text-color;
        opacity: 1;
    }
    &-moved:not(:focus-within){
        bottom: -$back-to-top-size;
    }
}